#textbox {
    @include noselect(text);
    resize: none;
    
    font-size: 20px;
    line-height: 1.35;
    font-family: Arial;
    width: 100%;
    display: block;
    border: none;
    outline: none;
    
    background: white;
    box-shadow: 0px 0px 10px #CCC;
    padding: 30px;
    box-sizing: border-box;
    min-height: 700px;
    overflow-y: hidden;
    
    color: $dark;
    
    b, strong {
        font-weight: bold;
    }
    i, em {
        font-style: italic;
    }
    
    .timestamp {
        color: $accent;
        border-radius: 5px;
        border-left: 2px solid $accent;
        border-right: 2px solid $accent;
        padding: 0 3px;
        margin: 0 3px;
        &:hover {
            background: lighten($accent, 50%);
            cursor: pointer;
        }
        &:active {
            background: lighten($accent, 40%);
        };
    }
}

.textbox-container {
    overflow-y: scroll;
    position: fixed;
    height: calc(100% - 36px);
    background: #eee;
    top: 36px;
    width: 100%;

    padding-top: calc(55px - 36px);
    padding-left: 50%;
    padding-right: 24px;
    box-sizing: border-box;
}

